<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script>

    </script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:4567/Home">Homepage</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <script src="js/nav.js"></script>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <!--<h1 align="center">Profile</h1>
            <br>-->
            <p class="lead">Profile</p>
            <div class="list-group" method="POST" action="/Profile">
                <a href="/Orderhistory"><button class="list-group-item" type="button" name="addProduct">Order history</button></a>
                <a href="/Ownwishlist"><button class="list-group-item" type="button" name="Graphs">Own wishlist</button></a>
                <a href="/Favourite"><button class="list-group-item" type="button" name="Graphs">Favourite</button></a>
                <a href="/Allwishlist"><button class="list-group-item" type="button" name="Graphs">All public wishlist</button></a>
                <a href="/Profile" class="list-group-item">Back To Profile</a>
                <br>
            </div>

            <form class="form" id="logoutvisibility" method="POST" action="/Home">
                <p class="tab0">Welcome : ${CurrentUser}</p>
                <button type="submit" id="logout_button" name="iets" align="center">Logout</button>
            </form>

        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12" id="main">

                    <!--<button type="button" onclick="Spoiler()">Show/Hide</button>-->
                    <!--<div id="spoiler" style="display:none"></div>-->
                </div>

                <div class="col-md-12">
                    <form class="form3" method='POST' action='/Orderhistory'>
                        <table border="1" style="width:100%" id="alltables">

                            <tbody>

                            </tbody>

                        </table>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Shamala Webshop 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script>
    var dirtystring = "${orders}";
    var cleanstring = dirtystring.substr(1, dirtystring.length-2)
    var orders = cleanstring.split(", ");

    var count = 1;
    var count2= 1;

    if(orders.length > 2){

        document.getElementById('main').innerHTML =
                '<h1 align="center">Order History</h1><br> <p align="center">This is the order history of : ${CurrentUser}</p>';

        table = document.getElementById("alltables");
        row = table.insertRow(0);
        row.setAttribute("name", "info");
        cell1 = row.insertCell(0);
        cell2 = row.insertCell(1);
        cell1.innerHTML = "<b>orderid</b>" + orders;
        cell2.innerHTML = "<b>products</b>";

        for( var i = 0; i < orders.length; i += 0) {
            for(var j = 0; j < orders.length / 3; j++ ){

                favouritebutton = document.createElement("button");
                favouritebutton.setAttribute("name", "Favourite "+ orders[i + 2])
                favouritebutton.setAttribute("type", "submit")
                favouritebutton.innerHTML = "Add to Favourite";

                row = table.insertRow(count);
                row.setAttribute("name", "info");
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);
                cell3 = row.insertCell(2);
                cell1.innerHTML = "Order ID: " + orders[i];
                cell2.innerHTML = "Product ID: " + orders[i + 1] + " Amount: "+ orders[i+2];
                cell3.appendChild(favouritebutton);


                i  = i + 3;

                count = count + 1;
            }
            count2 = count2 + 2
        }
    }
    else {
        document.getElementById('main').innerHTML =
                '<h1 align="center">THERE IS NOTHING TO SHOW BIATCH</h1>';
    }

</script>

<script>
    var once = 1
    var dirtystring = "${usernames}";
    var cleanstring = dirtystring.substr(0, dirtystring.length)
    var usrnm = cleanstring.split(", ");



    function AllWishlistContent() {

        if (once == 1){
            for (var i = 0; i < usrnm.length; i++) {
                if (i == 0) {
                    table = document.getElementById("alltables");
                    row = table.insertRow(0);
                    row.setAttribute("name", "info");
                    cell1 = row.insertCell(0);

                    cell1.innerHTML = "<b>Username</b>";

                }
                table = document.getElementById("alltables");
                userbutton = document.createElement("button");

                userbutton.setAttribute("name", "Username" + usrnm[i])
                userbutton.setAttribute("type", "submit")
//                userbutton.setAttribute("onclick", WishlistContent(usrnm[i]))
                userbutton.innerHTML = usrnm[i];

                //adding the row
                row = table.insertRow(i + 1);
                row.setAttribute("name", "" + usrnm[i]);

                //making the amount of values in a row
                cell1 = row.insertCell(0);
                cell2 = row.insertCell(1);

                //adding values
                cell1.innerHTML = usrnm[i];
                cell2.appendChild(userbutton);
                once = 2;
            }
        }
    }
</script>

<script>
    if ('${wishlist}' == "public"){
        var a = document.querySelector("#wishlistbuttonvisibilitypu");
        a.style.display = "none";
    }
</script>

<script>
    if("${message}" != "null" ){
        window.alert("${message}");
    }
</script>

<script>
    if("${userlevel}" == "admin"){
        var a = document.querySelector("#adminvisibility");
        a.style.display = "initial";
    }
</script>

<script>
    if("${userlevel}" == "admin" || "${userlevel}" == "user"){
        var a = document.querySelector("#registervisibility");
        a.style.display = "none";
        var b = document.querySelector("#logoutvisibility");
        b.style.display = "block";
    }
</script>

</body>

</html>