<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:4567/Home">Homepage</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <script src="js/nav.js"></script>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shamala Car Shop</p>
            <div class="list-group">
                <form class="CatalogForm" method="POST" action="/Shop">
                    <button class="list-group-item" type="submit" name="OrderedBrands">Brands</button>
                    <button class="list-group-item" type="submit" name="OrderedTypes">Type</button>
                    <button class="list-group-item" type="submit" name="OrderedYears">Built Year</button>
                    <button class="list-group-item" type="submit" name="OrderedPriceLtH">Price Low to High</button>
                    <button class="list-group-item" type="submit" name="OrderedPriceHtL">Price High to Low</button>
                </form>
            </div>

            <form class="form" method="POST" action="/Shop" id="loginvisibility">
                <input type="text" placeholder="username" name="LoginUsername">
                <input type="password" placeholder="password" name="LoginPassword">
                <button type="submit" id="login_button">Login</button>
            </form>

            <form class="form" id="logoutvisibility" method="POST" action="/Shop">
                <p class="tab0">Welcome : ${CurrentUser}</p>
                <button type="submit" id="logout_button" name="iets">Logout</button>
            </form>

        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <form class="form3" method='POST' action='/Shop'>
                        <table border="1" style="width:100%" id="producttable">

                            <tbody>

                            </tbody>

                        </table>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Shamala Webshop 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script>
    var dirtystring = "${models}";
    var cleanstring = dirtystring.substr(1, dirtystring.length - 2)
    var mdl = cleanstring.split(", ");

    var dirtystring = "${brands}";
    var cleanstring = dirtystring.substr(1, dirtystring.length - 2)
    var brnd = cleanstring.split(", ");

    var dirtystring = "${types}";
    var cleanstring = dirtystring.substr(1, dirtystring.length - 2)
    var typ = cleanstring.split(", ");

    var dirtystring = "${price}";
    var cleanstring = dirtystring.substr(1, dirtystring.length - 2)
    var prc = cleanstring.split(", ");

    var dirtystring = "${productid}";
    var cleanstring = dirtystring.substr(1, dirtystring.length - 2)
    var pid = cleanstring.split(", ");

    for (var i = 0; i < mdl.length; i++) {

        if (i == 0) {
            table = document.getElementById("producttable");
            row = table.insertRow(0);
            row.setAttribute("name", "info");
            cell1 = row.insertCell(0);
            cell2 = row.insertCell(1);
            cell3 = row.insertCell(2);
            cell4 = row.insertCell(3);
            //cell5 = row.insertCell(4);


            cell1.innerHTML = "<b>Model</b>";
            cell2.innerHTML = "<b>Brand</b>";
            cell3.innerHTML = "<b>Type</b>";
            cell4.innerHTML = "<b>Price</b>";
            //cell5.innerHTML = "";

        }

        table = document.getElementById("producttable");
        Buybutton = document.createElement("button");
        Wishlistbutton = document.createElement("button");

        //adjusting the buttons
        Buybutton.setAttribute("name", "AddToCart" + pid[i]);
        Buybutton.setAttribute("type", "submit");
        Buybutton.innerHTML = "Add to Cart";


        Wishlistbutton.setAttribute("name", "AddToWishlist" + pid[i])
        Wishlistbutton.setAttribute("type", "submit")
        Wishlistbutton.innerHTML = "Add to Wishlist"

        //adding the row
        row = table.insertRow(i + 1);
        row.setAttribute("name", "" + pid[i]);

        //making the amount of values in a row
        cell1 = row.insertCell(0);
        cell2 = row.insertCell(1);
        cell3 = row.insertCell(2);
        cell4 = row.insertCell(3);
        cell5 = row.insertCell(4);


        //adding values
        cell1.innerHTML = mdl[i];
        cell2.innerHTML = brnd[i];
        cell3.innerHTML = typ[i];
        cell4.innerHTML = prc[i];
        cell5.appendChild(Buybutton);

        if("${userlevel}" == "admin" || "${userlevel}" == "user"){
            cell6 = row.insertCell(5);
            cell6.appendChild(Wishlistbutton);
        }

    }

</script>

<script>
    if("${userlevel}" == "admin"){
        var a = document.querySelector("#adminvisibility");
        a.style.display = "initial";
    }

    if("${userlevel}" != "not registered"){
        var a = document.querySelector("#loginvisibility");
        a.style.display = "none";
    }

    if("${userlevel}" == "not registered"){
        var a = document.querySelector("#profilevisibility");
        a.style.display = "none";
    }

</script>

<script>
    if("${userlevel}" == "admin" || "${userlevel}" == "user"){
        var a = document.querySelector("#registervisibility");
        a.style.display = "none";
        var b = document.querySelector("#logoutvisibility");
        b.style.display = "block";
    }

</script>


</body>

</html>
